@media screen and (max-width: 900px){
    body{
        background: #FFFFFF;
        font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
        
    }
        .parentElement{
            background-color:#F7AB19;
            width:375px;
            height:812px;
            position:relative;
            top:0;

        }
        
        h1{
            color:#000000;
            text-align:center;
            /*background-color:#C4C4C4;*/
            margin-top:0px;
            background-size:cover;
            height:161px;
            vertical-align:middle;
        
        
        }
    
        .questiontitle {
            
            font-size:13px;
            color:#000000;
        }
        .title_username{
            position:absolute;
            /* 
            top: ;
            bottom: ;
            left: ;
            right: ;
            border: 1px solid red;
            */
            top:20%;
            left:10%;
        }
        .title_mailadress{
            position:absolute;
            /* 
            top: ;
            bottom: ;
            left: ;
            right: ;
            border: 1px solid red;
            */
            top:29%;
            left:10%;
        }
        .title_password{
            position:absolute;
            /* 
            top: ;
            bottom: ;
            left: ;
            right: ;
            border: 1px solid red;
            */
            top:38%;
            left:10%;
        }
        .title_checkpassword{
            position:absolute;
            /* 
            top: ;
            bottom: ;
            left: ;
            right: ;
            border: 1px solid red;
            */
            top:47%;
            left:10%;
        }
        .usernamecolum{
            position:absolute;
            /* 
            top: ;
            bottom: ;
            left: ;
            right: ;
            border: 1px solid red;
            */
            top:23%;
            left:10%;
        }
        .questioncolum{
            width:283.62px;
            height:30px;
            font-size:14px;
            border-radius:20px;
            text-align:center;
            margin-bottom:5px;
        }
        .emailcolum{
            position:absolute;
            /* 
            top: ;
            bottom: ;
            left: ;
            right: ;
            border: 1px solid red;
            */
            top:32%;
            left:10%;
        }
        .passwordcolum{
            position:absolute;
            /* 
            top: ;
            bottom: ;
            left: ;
            right: ;
            border: 1px solid red;
            */
            top:41%;
            left:10%;
        }
        .ckeckpasswordcolum{
            position:absolute;
            /* 
            top: ;
            bottom: ;
            left: ;
            right: ;
            border: 1px solid red;
            */
            top:50%;
            left:10%;
        }
        
    
        .submitbottom {
            position:absolute;
            top:77%;
            left:10%;
            background-color:#119A81;
            box-shadow:0px 4px 4px;
            width:285px;
            height:60px;
            text-align:center;
            margin-top:92px;
            border-radius:45px;
            color:#FFFFFF;
            font-size:18px;
        }
    

  
}