
    
    body {
        display: block;
        background-color:#FFE81A;
        margin: 0px;
        padding: 0px;
        font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
        
    }
    .iphoneX {
        background-color:#FFE81A;
        width:375px;
        height:812px;
        position:relative;
        top:0;
        margin:0 auto;
    }

    .header {
        display:block;
        max-width: 900px;
        position: absolute;
        border: 3px solid #FFE81A;
        width: 375px;
        height: 58px;
        box-sizing: border-box;
        padding: 10px;
        }
        .backbotton {
            position:absolute;
            top:5%;
            left:0%;
            background-color:#FFE81A;
            width:40px;
            height:35px;
            text-align:center;
            margin-top:0px;
            /*border-radius:26.25px;*/
            color:#FFFFFF;
            font-size:18px;
            border: 3px solid #FFE81A;
            /*box-sizing: border-box;*/
        }
    .title {
        background-color:#FFE81A;
        font-size:36px;
        position:absolute;
        top:12%;
        text-align:center;
        left:19%;
    }

    .main{
        position:absolute;
        font-size:13px;
        background-color:#FFE81A;
        top:40%;
        left:10%;
    }
    .copyarea {
        position:absolute;
        font-size:14px;
        width:283.62px;
        height:30px;
        border-radius:20px;
        text-align:center;
        margin-bottom:5px;
        top:45%;
        left:10%;
        border: 3px solid #FFFFFF;
    }
    .copybutton{
        position:absolute;
        top:77%;
        left:10%;
        background-color:#119A81;
        box-shadow:0px 0px 0px;
        width:285px;
        height:60px;
        text-align:center;
        margin-top:92px;
        border-radius:45px;
        color:#FFFFFF;
        font-size:18px;
        border: 3px solid #119A81;
    }


