*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: #F7AB19;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}
.iphoneX{
    position: relative;
    width: 375px;
    height: 812px;
    background: #F7AB19;

}
.header{
    position: absolute;
    border: 3px solid #F7AB19;
    width: 375px;
    height: 58px;
    box-sizing: border-box;
    padding: 10px;
}
h2{
    position: absolute;
    text-align: center;
    font-size: 20px;
    margin-left: 60px;
}
#back_btn{
    position: absolute;
    padding: 3px;
    left: 10px;
    top: 14px;
}
.user{
    position: relative;
    width: 353px;
    height: 69px;
    background: #F8BC47;
    border-radius: 14px;
    top: 90px;
    left:5px;
    padding: 5px;
}
#icon{
    position: absolute;
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #ffffff;
    padding: 5px;
    top: 15px;
    left: 20px;
}
#username{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.number_input{
    position: relative;
    margin-bottom: 10px;
}
#amount{
    position: absolute;
    font-size: 96px;
    right: 60px;
    top: 110px;
}
#yen{
    position: absolute;
    font-size: 36px;
    top: 180px;
    right: 10px;
}
.input{
    position: relative;
    width:375px;
    top: 300px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 370px;
}
.num_btn,#clear{
    width: 114px;
    height: 50px;  
    background: #F8BC47;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 8px;
}
#next_btn{
    position: absolute;
    width: 359px;
    height: 69px;
    background: #F8BC47;
    top: 720px;
    border: none;

}
