@media screen and (max-width:900px){
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background: #F7AB19;
    }
    .top-message{
        width: 100%;
        text-align: center;
        background: #ffffff;
        padding: 15px;
        top: 0;
    }
    .icon{
        position: relative;
        display: inline-block;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: #ffffff;
        padding: 5px;
        margin: 15px;
    }
    .message{
        position: absolute;
        display: inline-block;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        margin-right:35px;
    }
    span{
        font-weight: bold;
    }

    .homebtn{
        text-align: center;
        font-weight: bold;
        padding: 10px 30px;

    }

}