<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="(max-width: 900px)" href="mobile_createaccount.css">
        <link rel="srylesheet" media="(min-widtn: 900px)" href="pc_createaccount.css">
        <title>新規登録</title>
    </head>

    <body>
        <div class="parentElement">
            <div class="title">
                <h1>LOGO:おごってください</h1>
            </div>


            <div class="createaccount-container">

                <form action="#" method="post">
                    <div class="questiontitle title_username">
                        <label for="askusername">ユーザー名:</label>
                    </div>
                    <div>
                        <input type="text" id="askusername" required class="questioncolum usernamecolum">
                    </div>
                    <div class="questiontitle title_mailadress">
                        <label for="addmailadress">メールアドレス:</label>
                    </div>
                    <div>
                        <input type="email" id="addmailadress" required class="questioncolum emailcolum">
                    </div>
                    <div class="questiontitle title_password">
                        <label for="addpassword">パスワード:</label>
                    </div>
                    <div>
                        <input type="password" id="addpassword" required class="questioncolum passwordcolum">
                    </div>
                    <div class="questiontitle title_checkpassword">
                        <label for="checkpassword">パスワード（確認）:</label>
                    </div>
                    <div>
                        <input type="password" id="checkpassword" required class="questioncolum ckeckpasswordcolum" oninput="checkpass(this)">
                    </div>

                    <input type="submit" name="submitvalue" value="新規登録" class="submitbottom">

                </form>        
            </div>

        </div>

        <script language="JavaScript" type="text/javascript">
            function checkpass(input){
                var pass = document.getElementById("addpassword").value;
                var passConfirm = input.value;
                if(pass != passConfirm){
                    input.setCustomValidity('パスワードが一致しません');
                }else{
                    input.setCustomValidity('');
                }
                
            }
        </script>

</body>
</html>