<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="(max-width: 900px)" href="mobile_createaccount.css">
        <link rel="srylesheet" media="(min-widtn: 900px)" href="pc_createaccount.css">
        <title>新規登録</title>
    </head>

    <body>
        
        <div class="title">
            <h1>LOGO:おごってください</h1>
        </div>
        

        <div class="createaccount-container">

            <form action="#" method="post">
                <p>ユーザー名<span class="askuserame">(?)</span></p>
                <input type="text" name="addusername" size="14">

                <p>メールアドレス</p>
                <input type="email" name="addmailadress" size="14">

                <p>メールアドレス（確認）</p>
                <input type="email" name="checkmailadress" size="14">

                <p>パスワード<span class="askpassword">(?)</span></p>
                <input type="password" name="addpassword" size="14">

                <!--<p>どちらを使用しますか？</p>-->
                <input type="submit" name="submitvalue" value="新規登録">

                

            </form>
            
        
        </div>


    </body>
</html>