<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="(max-width: 900px)" href="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/css/mobile_login.css">
    </head>

    <body>
        <div class="header" align="center">  
            <h1>ログイン画面</h1>
        </div>
        
        <div align="center">
            <table border="0">
                <form action="#" method="GET">
                    <tr>
                        <div class="mail">
                            <td id="mail-adress">
                                メールアドレス
                            </td> 
                            <td>
                                <input id="mail-form" type="text" size="30">
                            </td>
                        </div>
                    </tr>
                    <tr>
                            <th>パスワード</th>
                            <td>
                            <input class="password-form" type="text" size="30"> 
                            </td>   
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="login-btn" type="submit" value="ログイン"　>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </body>
</html>