<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!--<link rel="stylesheet" href="{{ asset('css/recive.css') }}">--->
       <link rel="stylesheet" href="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/css/recive.css"> 
    </head>

    <body>
        <div class="iphoneX">
            <div class="header">
                <h2>おごられました！！</h2>
            </div>

            <img src="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/img/ogorare_tarou.png" id="ogorare_tarou">
       

            
            <!--<img src="/img/msg_frame.png" id="msg_frame">--> 
            <img src="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/img/msg_frame.png" id="msg_frame">
            <div class="messeage">
                <div id="comment_first">
                    <p>やったー！<br>
                        <span id="username">
                            おごり　たいぞう</span>
                            さんから
                    </p>
                </div>
                <div id="recive-money">
                    <p id="amount">0</p>
                    <p id="yen">円</p>
                </div>
                <p id="comment_second">
                    おごってもらいました！<br>
                    なに買う〜〜？
                </p>
            </div>

            <img src="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/img/coinkun.png" id="coinkun">
        

            <button type="button" onclick="location.href='./users'">
                <!--<img src="/img/home_back.png" id="home_back"/>-->
                <img src="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/img/home_back.png" id="home_back"/>
            </button>
        </div>
    </body>