<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="servicedescription.css">
    </head>

    <body>
        <div class="iphoneX">
            <img src="logo.png" alt="おごってくださいっ！" class="img_header_logo">

            <button type="button onclick="location.href='createaccount.html'" class="submit_createaccount"> 
                新規登録
            </button>
            <button type=button onclick="location.href='login.html'" class="submit_login">
                ログイン
            </button>

            <!--<h2 class="titile_servicedescription">
                サービス説明
            </h2>-->

            <img src="servicedescription.png" alt="サービス説明" class="img_servicedescription">
        </div>

        

        
           
    </body>
</html>
