<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="(max-width: 900px)" href="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/css/mobile_soukin-finish.css">
    </head>

    <body>
        <h2 class="top-message">
            送金完了！よっ！太っ腹！！
        </h2>

        <div class="icon-message">
            <p class="icon"></p>

            <div class="message">
                <p><span>おごられたろう</span>さん</p>
                におごりました！<br>
                喜んでくれるといいね！
            </div>
        </div>

    <div class="homebtn">
         <button type="button" onclick="" value="遷移">
            ホームにもどる
         </button>
     </div>
           
    </body>
</html>
