<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>コメント入力</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/css/soukin_comment.css">
    </head>

    <body>
        <div class="iphoneX">
            <div class="header">
                <h2>おごる(送金)</h2>
                <button id="back_btn" type="button"　onclick="">
                    ＜
                </button>
            </div>

            <div class="user">
                <div id="icon"></div>
                <div class="usermsg">
                <span id="distUser_id">
                    おごられ たろう
                </span>
                <p id="message">
                    さん
                    におごるよ！
                </p>
            </div>
            </div>

            <div class="money">
                <div id="amount">0</div>
                <div id="yen">円</div>
            </div>

            <form action="" method="POST" class="comment_area">
                    <p><label>コメントしてね！▼<br>
                    <textarea id="comment" rows="5" cols="60">
                    </textarea></p></label>
                <input type="submit" id="next_btn" value="次へ">
            </form>

        </div>
    </body>
</html>