<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>おごる金額を入力</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Volumes/GoogleDrive/マイドライブ/@GTB/gtb2020-laravel/public/css/mobile_soukin_input.css">

    <body>
        <div class="iphoneX">
            <div class="header">
                <h2>おごる金額を入力してね</h2>
                <button id="back_btn" type="button"　onclick="location.href='./timeline.html'">
                    ＜
                </button>
            </div>

            <div class="user">
                <div id="icon"></div>
                <div id="username">
                    おごられ たろう
                </div>
            </div>

            <div class="number_input">
                <div id="amount">0</div>
                <div id="yen">円</div>

                <div class="input">
                    <section class="row">
                        <div id="clear">AC</div>
                        <div class="num_btn" id="tax">消費税</div>
                        <div class="num_btn"></div>
                    </section>
                    <section class="row">
                        <div class="num_btn" data-index-id= 1>1</div>
                        <div class="num_btn" data-index-id= 2>2</div>
                        <div class="num_btn" data-index-id= 3>3</div>
                    </section>
                    <section class="row">
                        <div class="num_btn" data-index-id= 4>4</div>
                        <div class="num_btn" data-index-id= 5>5</div>
                        <div class="num_btn" data-index-id= 6>6</div>
                    </section>
                    <section class="row">
                        <div class="num_btn" data-index-id= 7>7</div>
                        <div class="num_btn" data-index-id= 8>8</div>
                        <div class="num_btn" data-index-id= 9>9</div>
                    </section>
                    <section class="row">
                        <div class="num_btn" data-index-id= 1>00</div>
                        <div class="num_btn" data-index-id= 1>0</div>
                        <div class="num_btn"></div>
                    </section>
                </div>
            </div>

            <button id="next_btn" type="button" onclick="">
                次へ
            </button>
            
        </div>

    
    </body>
</html>